/* style.043.css */
/* Base Style Sheet */

/* Default font-family is set for printing */

/* General */

body 	{ 
	background: #FFFFFF; 
	margin-top: 0; 
	margin-left: 0;
	}
img 	{ 
	vertical-align: 
	bottom; border: 0;
	}
p 	{ 
	font-family: "Times New Roman", serif; 
	font-size: small;
	}
table 	{ 
	border: 0; 
	}
td	{ 
	font-family: "Times New Roman", serif; 
	font-size: small;
	}
ul, li	{ 
	font-family: "Times New Roman", serif; 
	font-size: small;
	}
pre	{ 
	font-family: "Courier New", serif; 
	font-size: small; 
	margin-left: 15; 
	font-weight: bold; 
	color: navy; 
	background: #ffffe0;
	}
.tbody	{ 
	background: #FFFFFF; 
	width: 700;
	}
.text3	{ 
	font-family: "Times New Roman", serif; 
	font-size: small;
	}
.panel1	{ 
	background: #AEE7FC;
	};
	
/* Chapter Headings */

.texthead { 
	font-family: "Times New Roman", serif; 
	font-size: x-large; 
	font-weight: bold; 
	color: red;
	}
.texth	{ 
	font-family: "Times New Roman", serif; 
	font-size: medium; 
	font-weight: bold; 
	color: #4599B1;
	}
.quote	{ 
	font-family: "Times New Roman", serif; 
	font-size: small; 
	font-style: italic;
	}
.textagend { 
	font-family: "Times New Roman", serif; 
	font-size: small; 
	color: red;
	}
.section { 
	font-family: "Times New Roman", serif; 
	font-size: medium; 
	font-weight: bold; 
	text-transform: uppercase; 
	color: #4599B1;
	}
.ssection { 
	font-family: "Times New Roman", serif; 
	font-size: medium; 
	font-weight: bold; 
	color: #4599B1;
	}
.sssection { 
	font-family: "Times New Roman", serif; 
	font-size: small; 
	font-weight: bold; 
	color: #4599B1;
	}
.top	{ 
	vertical-align: top;
	}
.tup	{ 
	vertical-align: top; 
	color: blue;
	}
.defin	{ 
	font-family: "Courier New", serif; 
	font-size: small; 
	color: maroon; 
	font-weight: bold; 
	background: #ffffff;
	}

/* Highlighting Table Rows */

.desc	{ 
	background: #EDEDFE; 
	text-align: center;
	}
.value	{ 
	background: #FFFFC6; 
	text-align: center;
	}
.addre	{ 
	background: #AEE7FC; 
	text-align: left;
	}
.addrec	{ 
	background: #AEE7FC; 
	text-align: center;
	}
.oper	{ 
	color: maroon; 
	font-style: italic;
	}

/* Highlighting Embedded Code */

.code	{ 
	font-family: "Courier New", serif; 
	font-size: small; 
	color: navy; 
	font-weight: bold; 
	vertical-align: baseline;
	}
	
/* Highlighting Text */

.high	{ 
	color: maroon;
	}

/* Highlighting Code Blocks */

.result	{ 
	background: #F7FFCE;
	};
.error	{ 
	background: #FFE7C6;
	};
.white  {
	background: #FFFFFF;
	};

